.control .img{
	cursor: pointer;
	background: url(star.png);
	background-repeat: no-repeat;
	width:15px;
	height:15px;
	display:inline-block;
}
/*.control .img:hover{
	background: url(star_hovered.png);
	margin-bottom: 1px;
}*/
.control .img.active{
	margin-bottom: 1px;
	background: url(star_hovered.png);
}
.control button{
	padding: 5px 20px;
    border-radius: 14px;
    border: 1px #d0d0d0 solid;
    background: #ededed;
	cursor:pointer;
}
.control button:focus{
	outline: none;
    border: 1px #8995d2 solid;
}
.control button:active{
    box-shadow: 0px 2px 14px rgba(0,0,0,0.2);
	background-position: bottom;
}
.control button:hover{
    background: #feffe1;
}
